@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');

@import url('https://fonts.googleapis.com/css?family=Vidaloka&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* purgecss start ignore */
img {md:w-1/3;}
img {md:mr-1;}
img {md:ml-1;}

h1 {
  @apply text-3xl text-red-600 mt-8 mb-5;
}
.markdown h2 {
  @apply text-xl text-red-600 mt-6;
}
.markdown h3 {
  @apply text-lg text-red-600 mt-4;
}
.markdown h4 {
  @apply text-base text-red-600 mt-3;
}
.markdown ul {
  @apply list-inside;
}
.markdown li {
  @apply list-disc;
}
.markdown p {
  @apply flex flex-wrap max-w-full mb-3 text-base;
}
.markdown img {
  @apply rounded shadow-2xl;
}
.img-slideshow img {
  @apply rounded shadow-2xl mr-3;
}
.img-slideshow img:last-child {
  @apply rounded shadow-2xl mr-0;
}
/* purgecss end ignore */
