{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}

{% block head %}
    {{ super() }}

    <link href="{{ SITEURL }}/{{ article.url }}" rel="canonical" />
    {% for keyword in article.keywords %}
        <meta name="keywords" content="{{keyword}}" >
    {% endfor %}

    {% if description %}
        <meta name="description" content="{{ description }}">
    {% elif article.headline %}
        <meta name="description" content="{{ article.headline }}">
    {% elif article.summary %}
        <meta name="description" content="{{ article.summary|striptags|truncate(140) }}">
    {% endif %}

    {% for author in article.authors %}
        <meta name="author" content="{{ author }}">
    {% endfor %}

    {% for tag in article.tags %}
        <meta name="tags" content="{{tag}}">
    {% endfor %}
{% endblock head %}

{% block content %}

<div class="mt-4 markdown">
  {{ article.content | milena_custom_filter }}
</div>

{% endblock content %}
