{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}

{% block head %}
    {{ super() }}

    <link href="{{ SITEURL }}/{{ page.url }}" rel="canonical" />
    {% for keyword in page.keywords %}
        <meta name="keywords" content="{{keyword}}" >
    {% endfor %}

    {% if description %}
        <meta name="description" content="{{ description }}">
    {% elif page.headline %}
        <meta name="description" content="{{ page.headline }}">
    {% elif page.summary %}
        <meta name="description" content="{{ page.summary|striptags|truncate(140) }}">
    {% endif %}

    {% for author in page.authors %}
        <meta name="author" content="{{ author }}">
    {% endfor %}

    {% for tag in page.tags %}
        <meta name="tags" content="{{tag}}">
    {% endfor %}
{% endblock head %}



{% block content %}
{{page.content}}
{% endblock content %}
